 
 /* MAIN */
 
    body{
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-size:1em;
            color:#000;
            margin:0px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Muli', Helvetica, Arial, sans-serif;
            font-weight:bold;
        }

        h5 {
            text-transform: uppercase;
            font-size:1.25em;
            margin:10px 10px 0px 10px;
        }

        a {
            text-decoration:none;
            color:#000;
        }

        a:hover {
            text-decoration: underline;
        }

        .container {
            display: grid;
            justify-content: center;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            /*background-color:yellow;*/
        }

        #logo {
            width:200px;
            margin:10px;
            margin-left:auto;
            margin-right:auto;

        }

/* LOADING */
        
        #loading {
            width:100%;
            min-height:100%;
            position:fixed;
            top:0;
            left:0;
            background-color:#fff;
            z-index:100;
        }

        #loading-spinner {
            position:absolute;
            top:40%;
            width:100%;
            text-align:center;
        }

        .lds-ring {
          display: inline-block;
          position: relative;
          width: 64px;
          height: 64px;
        }
        .lds-ring div {
          box-sizing: border-box;
          display: block;
          position: absolute;
          width: 51px;
          height: 51px;
          margin: 6px;
          border: 6px solid #01ac4e;
          border-radius: 50%;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          border-color: #01ac4e transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
          animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
          animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
          animation-delay: -0.15s;
        }
        @keyframes lds-ring {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }


/* GRID AREAS */

        #header {
            grid-area: header;
            height:50px;
        }

        #lede {
            grid-area: lede;
            background-color:white;
        }

        #main {
            grid-area: main;
            background-color:white;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        #sidebar {
            grid-area: sidebar;
            text-align:center;
        }

        #sidebar img {
            padding-bottom:20px;
        }

        #mostpop {
            grid-area: mostpop;
            background-color:#efefef;
            overflow-y:scroll;
            margin-bottom:10px;
            border:1px solid #ccc;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            overflow: -moz-scrollbars-auto;
        }

        #morenews {
            grid-area: morenews;
            background-color:white;
            padding:10px;
        }

        #footer {
            grid-area: footer;
            height:100px;
        }

/* MOST POPULAR */

        #mostpop__lineup {
            display: flex;
            flex-direction: row;
        }

        .mostpop__wrapper {
            margin:10px 0px 10px 10px;
            background-color:#fff;
            height:300px;
            border-radius:5px;
            overflow:hidden;
            width:217.50px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        }

        .mostpop__tile:last-child .mostpop__wrapper {
            margin-right:10px;
        }

        .mostpop__hed {
            padding:0px 10px; 
        }

        .mostpop__tile img {
            height:122.25px;
        }

/* MORE NEWS */
        #morenews__lineup {
            display: flex;
            flex-flow:row wrap;
            justify-content: space-between;
        }

        .morenews__tile {
            width:30%;
            display:flex;
            flex-flow: row;
            margin:0 0 20px 0;
        }

        .morenews__hed {
            margin-left:10px;
        }

        .morenews__image {
            max-width:40%;
        }

        h4 {
            margin:0;
        }

/* FULL WIDTH HEADER & FOOTER */

        .header-row {
            position:absolute;
            left:0;
            width:100%;
            height:50px;
            background-color:black;
        }

        .footer-row {
            position:absolute;
            left:0;
            width:100%;
            height:100px;
            background-color:black;
        }

/* MEDIA QUERIES */

        @media all and (min-width: 1241px) {  /* Desktop */
            .container {
                grid-template-columns: repeat(8, 145px);
                grid-template-rows: auto;
                grid-template-areas: 
                "header   header   header   header   header   header   header   header"
                "lede     lede     lede     lede     main     main     sidebar  sidebar"
                "mostpop  mostpop  mostpop  mostpop  mostpop  mostpop  mostpop  mostpop"
                "morenews morenews morenews morenews morenews morenews morenews morenews"
                "footer   footer   footer   footer   footer   footer   footer   footer";
            }

            #lede {
                padding-left:10px;   
            }

        }

        @media all and (max-width: 1240px) {  /* Laptop */
            .container {
                grid-template-columns:repeat(6, 145px);
                grid-template-rows: auto;
                grid-template-areas: 
                "header   header   header   header   header   header"
                "lede     lede     lede     lede     sidebar  sidebar"
                "main     main     main     main     sidebar  sidebar"    
                "mostpop  mostpop  mostpop  mostpop  mostpop  mostpop"   
                "morenews morenews morenews morenews morenews morenews"
                "footer   footer   footer   footer   footer   footer";
            }

            #lede {
                padding-left:10px;   
            }

            #main {
                padding-left:10px;
            }

            .main__tile {
                width:290px;
            }   

            .mostpop__wrapper {
                width:200px;
            }

        }

        @media all and (max-width: 975px) { /* Tablet */
            .container {
                grid-template-columns: repeat(4, 25%);
                grid-template-rows: auto;
                grid-template-areas: 
                "header   header   header   header"
                "lede     lede     lede     lede"
                "main     main     main     main"
                ".        sidebar  sidebar  ."
                "mostpop  mostpop  mostpop  mostpop"
                "morenews morenews morenews morenews"
                "footer   footer   footer   footer";
                grid-row-gap: 0;
                grid-column-gap: 0;
            }

            #lede {
                padding:0 0 20px 0;   
            }

            .lede__hed {
                padding:0 10px;
            }

            #main {
                padding:0 10px;
            }

            .main__tile, .morenews__tile {
                width:48%;
            }  

            #mostpop {
                border-left;0;
                border-right:0;
            }

            #morenews {
                padding-top:20px;
            }

        }

        @media all and (max-width: 655px) {  /* Mobile */
            .container {
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: auto;
                grid-template-areas: 
                "header   header"
                "lede     lede"
                "main     main"
                "sidebar  sidebar"
                "mostpop  mostpop"
                "morenews morenews"
                "footer   footer";
            }

            .main__tile {
                width:100%;
                display:flex;
                flex-flow: row;
                margin:0 0 20px 0;
            }

            .main__hed {
                margin-left:10px;
            }

            .main__image {
                max-width:40%;
            }

            #main h3 {
                margin:0;
            }

            .morenews__tile {
                width:100%;
            }
        }
