            
/* MAIN */

    body{
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        font-size:1em;
        color:#000;
        margin:0px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Muli', Helvetica, Arial, sans-serif;
        font-weight:bold;
    }

    h7 {
        text-transform: uppercase;
        font-size:1.5em;
    }

    a {
        text-decoration:none;
        color:#000;
    }

    a:hover {
        text-decoration: underline;
    }

/* LOADING */
        
    #loading {
        width:100%;
        min-height:100%;
        position:fixed;
        top:0;
        left:0;
        background-color:#fff;
        z-index:100;
    }

    #loading-spinner {
        position:absolute;
        top:40%;
        width:100%;
        text-align:center;
    }

    .lds-ring {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid #01ac4e;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #01ac4e transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

/* GRID AREAS */

    #grid {
        display: grid;
        justify-content: center; /* aligns the grid in the center of your container */
        grid-column-gap: 10px; /* gap between columns */
        grid-row-gap: 10px; /* gap between rows */
    }          

    #header {
        grid-area: header;
        height:51px;
        z-index:1000;
    }

    #lede {
        grid-area: lede;
    }

    #first {
        grid-area: first;
    }

    #second {
        grid-area: second;
    }

    #first .card, #second .card {
        border:0;
    }

    #sidebar {
        grid-area: sidebar;
    }

    #mostpop {
        grid-area: mostpop;
    }

    #morenews {
        grid-area: morenews;
        margin-top:20px;
    }

    #seemore {
        grid-area: seemore;
    }

    #footer {
        grid-area: footer;
    }

/* IMAGES */        
    .img {
        background-color:#efefef;
    }

    .lede { 
        width:100%;
        height:338px; /* For now ... */
    }

/* HEADER */  
    #logo {
        width:200px;
    }

/* FIRST, SECOND */
    .main__hed {
        margin-top:5px;
    }

/* SIDEBAR */ 
    #sidebar img {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 61px;
    }

/* MOST POPULAR */

    #mostpop {
        grid-area: mostpop;
        background-color:#efefef;
        padding:20px 10px 10px 10px;
        border:1px solid #ccc;
    }

    #mostpop__lineup {
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow: -moz-scrollbars-auto;
        overflow-y:scroll;
    }

    #mostpop__lineup .card-deck {
        display: flex;
        flex-flow:row nowrap; 
        margin:0;
    }

    #mostpop__lineup .card {
        margin:10px 10px 10px 0px;
    }   

    #mostpop__lineup .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }

/* MORE NEWS */
    #morenews__lineup {
        position:relative;
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }

    .morenews__tile {
        width:30%;
        display:flex;
        flex-flow: row;
        margin:0 0 20px 0;
    }

    .morenews__hed {
        margin-left:10px;
    }

    .morenews__image {
        max-width:40%;
    }

    #morenews img {
        border-radius: 5px;
    }

/* SEE MORE */
    #seemore {
        text-align:center;
        padding-bottom:20px;
    }

/* FOOTER */
    #footer {
        padding:30px 0px;
        background-color:#343a40;
        color:#999;
        text-align:center;
    }

/* MEDIA QUERIES */
/* 1241 and higher = Desktop */
/* 976 to 1240 = Laptop */
/* 656 to 975 = Tablet */
/* 655 and lower = Phone */

@media only screen and (min-width: 1241px) {  /* Desktop */
    #grid {
        grid-template-columns: repeat(8, 145px);
        grid-template-rows: auto;
        grid-template-areas: 
        "header   header   header   header   header   header   header   header"
        "lede     lede     lede     lede     first    first    sidebar  sidebar"
        "lede     lede     lede     lede     second   second   sidebar  sidebar"    
        "mostpop  mostpop  mostpop  mostpop  mostpop  mostpop  mostpop  mostpop"
        "morenews morenews morenews morenews morenews morenews morenews morenews"
        "seemore  seemore  seemore  seemore  seemore  seemore  seemore  seemore"        
        "footer   footer   footer   footer   footer   footer   footer   footer";   
    }  

    #mostpop__lineup .card {
        min-width:270px;
    }  

}

@media only screen and (max-width: 1240px) {  /* Laptop */
    #grid {
        grid-template-columns:repeat(6, 145px);
        grid-template-rows: auto;
        grid-template-areas: 
        "header   header   header   header   header   header"
        "lede     lede     lede     lede     sidebar  sidebar"
        "first    first    second   second   sidebar  sidebar"    
        "mostpop  mostpop  mostpop  mostpop  mostpop  mostpop"   
        "morenews morenews morenews morenews morenews morenews"
        "seemore  seemore  seemore  seemore  seemore  seemore"
        "footer   footer   footer   footer   footer   footer";
    }

    #mostpop__lineup .card {
        min-width:230px;
    }
}   

@media only screen and (max-width: 975px) {  /* Tablet */
    #grid {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: auto;
        grid-template-areas: 
        "header   header   header   header"
        "lede     lede     lede     lede"
        "first    first    second   second"
        ".        sidebar  sidebar  ."
        "mostpop  mostpop  mostpop  mostpop"
        "morenews morenews morenews morenews"
        "seemore  seemore  seemore  seemore"
        "footer   footer   footer   footer";
        grid-row-gap: 0;
        grid-column-gap: 0;
    }

    #lede .card {
        border:0;
    }

    #lede .card-img-top {
        border-radius:0;
    }

    #first {
        margin:0 5px 20px 10px;
    }

    #second {
        margin:0 10px 20px 5px;
    }

    #sidebar {
        text-align:center;
        margin-bottom:20px;
    } 
    
    #mostpop__lineup .card-img-top {
        height: 15vw;
    }

    #morenews {
        padding:10px;
    }

    #seemore button {
        border-radius:0;
    }

    .morenews__tile {
        width:45%;
    }
    
    #seemore {
        padding-bottom:0px;
    }
} 

@media only screen and (max-width: 655px) {  /* Phone */
    #grid {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        grid-template-areas: 
        "header   header"
        "lede     lede"
        "first    first"
        "second   second"    
        "sidebar  sidebar"
        "mostpop  mostpop"
        "morenews morenews"
        "seemore  seemore"
        "footer   footer";
    }

    #lede .card {
        border-bottom:1px solid rgba(0,0,0,.125);
        border-radius:0;
        margin-bottom:20px;
    }

    #first, #second {
        margin:0 10px;
    }

    .main__tile {
        width:100%;
        display:flex;
        flex-flow: row;
        margin:0 0 20px 0;
    }

    .main__hed {
        margin-left:10px;
        margin-top:0;
    }

    .main__image {
        max-width:40%;
    }

    #main h3 {
        margin:0;
    }

    #mostpop__lineup .card-img-top {
        height: 20vw;
    }
    
    .morenews__tile {
        width:100%;
    }

}
        